Mtf/TestRunner/etc/testRunner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Schema for DI configuration
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:annotation>
            <xs:documentation>
                Root element of configuration.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="rule" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="rule">
        <xs:annotation>
            <xs:documentation>
                Type of filtering rule. Type determined by attribute "scope"
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="allow" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="deny" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="scope" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="testsuite"/>
                        <xs:enumeration value="testcase"/>
                        <xs:enumeration value="variation"/>
                        <xs:enumeration value="constraint"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="allow">
        <xs:annotation>
            <xs:documentation>
                List of allow filters.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="namespace" minOccurs="0"/>
                <xs:element ref="type" minOccurs="0"/>
                <xs:element ref="module" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="class" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="tag" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deny">
        <xs:annotation>
            <xs:documentation>
                List of deny filters.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="namespace" minOccurs="0"/>
                <xs:element ref="type" minOccurs="0"/>
                <xs:element ref="module" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="class" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="tag" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="namespace">
        <xs:annotation>
            <xs:documentation>
                Filter subject by namespace.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="value"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="type">
        <xs:annotation>
            <xs:documentation>
                Filter subject by type.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="value" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="injectable"/>
                        <xs:enumeration value="functional"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="module">
        <xs:annotation>
            <xs:documentation>
                Filter subject by module.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="value" use="required"/>
                    <xs:attribute type="xs:string" name="strict" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="class">
        <xs:annotation>
            <xs:documentation>
                Filter subject by class name.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="value" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="tag">
        <xs:annotation>
            <xs:documentation>
                Filter subject by tag.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="group" use="required"/>
                    <xs:attribute type="xs:string" name="value" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
