Mtf/Repository/etc/repository.xsd

<?xml version="1.0"?>
<!--
/**
 * Schema for scenario configuration
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="repository">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="storage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="storage">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="dataset"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="class" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="dataset">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="field" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
            <xs:attribute type="xs:string" name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="field">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="path" use="optional"/>
            <xs:attribute type="xs:string" name="scope" use="optional"/>
            <xs:attribute type="xs:string" name="scope_id" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="item">
        <xs:complexType  mixed="true">
            <xs:sequence>
                <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
