Magento/Mtf/Fixture/etc/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Schema for fixture configuration
 *
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @copyright   Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

    <xs:complexType name="namedType" abstract="true" mixed="true">
        <xs:attribute name="name" use="optional"/>
    </xs:complexType>

    <xs:complexType name="simpleType" mixed="true">
        <xs:complexContent>
            <xs:extension base="namedType">
                <xs:sequence>
                    <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="complexType" mixed="true">
        <xs:complexContent>
            <xs:extension base="namedType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="array" mixed="true">
        <xs:complexContent>
            <xs:extension base="complexType">
                <xs:sequence>
                    <xs:element name="item" type="namedType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="string" mixed="true">
        <xs:complexContent>
            <xs:extension base="simpleType">
                <xs:attribute name="translate" use="optional" fixed="true" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="boolean" mixed="true">
        <xs:complexContent>
            <xs:extension base="simpleType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="object" mixed="true">
        <xs:complexContent>
            <xs:extension base="simpleType"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="number" mixed="true">
        <xs:complexContent>
            <xs:extension base="simpleType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="null" mixed="true">
        <xs:complexContent>
            <xs:extension base="simpleType"/>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>